@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=zocial);

/* icon fonts */
[class*="entypo-"]:before{
  font-family: 'entypo', sans-serif;
  color: gray;
}
[class*="zocial-"]:before{
  font-family: 'zocial', sans-serif;
  color: gray;
}
.fa{
    color: gray;
}
*{
/*     border: red solid 1px; */
    font-family: 'Special Elite', cursive;
    color: #C0C0C0;
}
.modal{
    background-image: url(../pics/footer_lodyas.png);
}
.modal-content{
    background-image: url(../pics/dark_geometric.png);
}
html, body{
  background-image: url(../pics/dark_geometric.png);
  background-repeat: repeat;
  background-color: #333;
  margin: auto;
  display: flex;
}
.container{
  width: 960px;
  background-image: url(../pics/dark_mosaic.png);
  /*display: flex;*/
}
.description{
    padding-top: 20px;
}
.modal-pic{
    margin: auto;
}
.img-responsive{
    width: 455px;
    height: 350px;
    overflow: hidden;
}

/*.col-md-6{
    width:50%;

}*/
.underline{
    border-bottom: solid #696969 1px;
}
.img-spider{
    height: 150px;
    width: 150px;
    margin-left: 10px;
    margin-top: 11px;
    margin-bottom: 20px;
    /*background-image: url(../pics/neon_circuits_by_transdecimal.jpg);*/
}
h1{
    margin-top: 50px;
    font-weight: 900;

}
.title{
    margin-top: -5px;
    font-weight: 900;
}
.center-block{
    height: 200px;
    width: 960px;
}
li{
    display: inline;
}
h2{
    margin-left: 20px;
}
a{
    color: #696969;

}
.pointer{
  cursor: pointer;

}
.footer{
    padding-top: 20px;
    border-top: solid #696969 1px;
}
@media only screen and (max-width: 970px){
    .container{
      max-width: 100%;

    }
   .text-center{
        text-align: left;
    }
    .text-right{
      text-align: left;
    }
    h1{
        font-size: 25px;
    }
    .title{
        font-size: 20px;
    }
    .img-spider{
        height: 100px;
        width: 100px;
        margin-top: 20px;


    }
    #icons{
      padding-left: 0px;
    }
    .img-responsive{
        width: 350px;
        /*height: 350px;*/
    }

}
